requests==2.19.1
click==6.7
cloudpickle==0.5.6
coincurve==9.0.0
eth_account==0.3.0
eth_keyfile==0.5.1
eth_utils==1.2.1
ethereum==2.3.2
filelock==3.0.8
Flask==1.0.2
flask_cors==3.0.6
flask_restful==0.3.6
gevent==1.3.6
leveldb==0.194
munch==2.3.2
rlp==1.0.2
typing==3.6.6
web3==4.7.1
Werkzeug==0.14.1
dbot_metrics==0.1.5
